@model QAForum.Models.ViewModels.PostViewModel  

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Message</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">UserID</div>
    <div class="display-field">@Model.UserId</div>

    <div class="display-label">ThreadID</div>
    <div class="display-field">@Model.ThreadId</div>

    <div class="display-label">PostTitle</div>
    <div class="display-field">@Model.PostTitle</div>

    <div class="display-label">PostDateTime</div>
    <div class="display-field">@String.Format("{0:g}", Model.PostDateTime)</div>

    <div class="display-label">PostBody</div>
    <div class="display-field">@Model.PostBody</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

