@model IEnumerable<QAForum.Models.Forum.Post>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Message</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            UserID
        </th>
        <th>
            ThreadID
        </th>
        <th>
            PostTitle
        </th>
        <th>
            PostDateTime
        </th>
        <th>
            PostBody
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostId })
        </td>
        <td>
            @item.UserId
        </td>
        <td>
            @item.ThreadId
        </td>
        <td>
            @item.PostTitle
        </td>
        <td>
            @String.Format("{0:g}", item.PostDateTime)
        </td>
        <td>
            @item.PostBody
        </td>
    </tr>
}

</table>

