@using QAForum.Models.ViewModels
@model ThreadViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Message</h2>

<fieldset>
    <legend>Thread</legend>

    <div class="display-label">ForumID</div>
    <div class="display-field">@Model.ForumId</div>

    <div class="display-label">ThreadTitle</div>
    <div class="display-field">@Model.ThreadTitle</div>

    <div class="display-label">OwnerID</div>
    <div class="display-field">
        @{ Html.RenderAction("PartialUserDetails", "User", new { id = Model.OwnerId }); }
    </div>
    
    <h3>Posts</h3>
    @Html.Partial("~/Views/Post/PartialPostList.cshtml", (List<PostViewModel>)ViewBag.Posts)
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ThreadId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

