@model IEnumerable<QAForum.Models.Forum.Thread>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Message</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            ForumID
        </th>
        <th>
            ThreadTitle
        </th>
        <th>
            OwnerID
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ThreadId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ThreadId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ThreadId })
        </td>
        <td>
            @item.ForumId
        </td>
        <td>
            @item.ThreadTitle
        </td>
        <td>
            @item.OwnerId
        </td>
    </tr>
}

</table>

